:root {
  --heading-background-color: rgb(20, 78, 117);
  --heading-text-color: #ffffff;
  --heading-font: 'Montserrat', Helvetica, sans-serif;
  --padding: 1rem;
  --border: 1px solid rgba(0,0,0,0.1);
}

main p {
  padding: 10px;
}

nav {
  background-color: #86365c;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 15px;
  font-style: italic;
}

h1 {
  color: #86365c;
}

aside img {
  width: 250px;
  height: auto;
  border: 1px solid #ffffff;
  padding: 5px;
  box-shadow: 0 0 30px #86365c;

}

aside p {
  text-align: center;

}


main {
  max-width: 840px;
  
}


aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #86365c;
  color: #ffffff;
  text-align: center;
}

main img {
  width: 200px;
  height: auto;
  border: 1px solid #ffffff;
  padding: 2px;
  box-shadow: 0 0 30px #86365c;
  position: relative;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}